body{
font-family: 'Quicksand', sans-serif;
font-weight: 300;
}

h3 {
  font-weight: 300;
}

.navbar-static-top {
  margin-bottom:20px;
}

i {
  font-size:16px;
}

.nav > li > a {
  color:#787878;
  padding: 5px 15px;
  
}

.nav > li > a:hover {
  border-left: 4px solid #44a5f7;
  font-weight: bold;
  background-color: white;
  padding: 5px 11px;
  
}

.left-padding {
  padding-left: 15px;
}

.match-byrd {
  color : #a09e9e;
  font-weight: 400;
}

.search-icon{
  font-family: FontAwesome,Quicksand, sans-serif;
   opacity: 0.45;
}

.table>tbody>tr>td:nth-child(2) {
  color:#44a5f7; 
}

.table>thead>tr>th {
  font-weight: 300;
}